.navbar-brand img{
    width: 100px;
}
.nav-right{
    justify-content: flex-end;
}
.splashback{
    
    background-image: url(../images/blacksplash.png);
    background-position: center;
    background-size: cover;
}
.splashback h1{
    text-align: center;
    font-size: 18px;
    color: white;
    padding-bottom: 0px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    height: 100vh;
}

.btn-primary{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: -29px;
    color: #fff;
    background-color: #7fa3d6 !important;
    border-color: #7fa3d6 !important;
    width: 170px;
}
.button{
    margin-bottom: 31px;
}
.signup{
    margin-bottom: 91px;
}
form{
    margin-bottom: 60px;
    padding: 10px;
}
label{
    color: lightskyblue;
}
.rightsplash{
    background-image: url(../images/Bg.jpg);
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 500px) {
    .rightsplash {
      display: none;
    }
    .signup{
        margin-bottom: 46px;
    }
  }

